body{
    font-family: 'Montserrat', sans-serif;
    padding-top: 105px;
    background:#9ea19b;
}

.header{
    position: fixed;
    background:linear-gradient(#9CF07A,#476E38);
    z-index: 3;
    top:0;
}

.separador{
    background:#306E17;
}

.slider{
    max-width: 1600px;
}

aside{
    background:linear-gradient(#9CF07A,#306E17);
}

.btn-primary{
    background-color: #306E17;
}

.form-control{
    background-color:#9CF07A;
}

@keyframes animacion1{
    0%{transform:scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1)}
}

@keyframes animacion2{
    0%{transform:translateY(-50px);}
    50%{transform: translateY(50px);}
    100%{transform: translateY(0)}
}

.novedad-imagen:hover{
    animation-name: animacion2;
    animation-duration: 2s;
}
#navbarNav ul a:hover{
    background-color: #476E38 ;
}

.ubicacion-imagen:hover{
    animation-name: animacion1;
    animation-duration: 3s;
   
}
.contenido:hover{
    background:linear-gradient(#9CF07A,#51BA27);
}

.separador-menu{
    font-size: 2rem;
}


/* Media Queries */
/* 
Grandes -> 961px - 1200px
Medianos -> 561px - 960px
Pequeños -> 0px - 560px
*/

/* Grandes */
@media screen and (min-width:961px) and (max-width: 1200px){

} 

/* Medianos */
@media screen and (min-width: 561px) and (max-width: 960px){
	
}

/* Pequeños */
@media (min-width:0px) and (max-width: 560px){
	
    .nav-title{
		display: none;
	}
   
    .w-75{
		width:100%;
	} 

	